.top-navbar {
    background-color: #1F2937;
    color: white;
    display:flex;
    justify-content: space-between;
}

.first-div {
    background-color: #1F2937;
    color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.second-div {
    display: flex;
}